{% extends 'base.html.twig' %}

{% block body %}
    <div class="container has-text-centered">
        <div class="columns is-centered">
            <div class="column is-one-third">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form name="user" method="post">
                    <div class="field">
                        <label class="label">{{ 'user.form.username.label'|trans }}</label>
                        <div class="control has-icons-left">
                            <input type="text" value="{{ last_username }}" name="username" class="input" required placeholder="{{ 'user.form.username.placeholder'|trans }}">
                            <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">{{ 'user.form.password.first.label'|trans }}</label>
                        <div class="control has-icons-left has-icons-right">
                            <input type="password" name="password" id="inputPassword" class="input" required>
                            <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="buttons is-centered">
                        <button class="button is-info">{{ 'registration.form.submit'|trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
