<div class="column is-one-third">
    <a href="{{ path('app_zap_show', {'zapId': zap.id}) }}">
        <h2 class="title">
            {{ zap|u.upper }}
        </h2>
        <img src="{{ asset('images/zaps/' ~ zap.image)|imagine_filter('zap_thumb') }}" alt="{{ zap }}">
        <p class="details">
            <span>{{ 'homepage.latest_zap.details'|trans({'%views%': zap.views|default(0)}) }}</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>{{ zap.publishedAt|date('d.m.Y') }}</span>
        </p>
        <h3 class="subtitle">{{ zap.subtitle|u.upper }}</h3>
        <p class="has-text-justified shortDescription">{{ zap.shortDescription|u.truncate(400, '...') }}</p>
    </a>
</div>