{% extends 'base.html.twig' %}

{% block body %}
    <div class="container has-text-centered">
        <div class="columns is-centered">
            <div class="column is-one-third">
                {{ form_start(form) }}
                    <div class="field">
                        <label class="label">{{ 'user.form.username.label'|trans }}</label>
                        <div class="control has-icons-left">
                            {{ form_widget(form.username, {'attr': {'class': 'input', 'placeholder': 'user.form.username.placeholder'|trans}}) }}
                            <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                        </div>
                        {% if (form.username.vars.errors|length > 0) %}
                            <p class="help is-danger">{{ form.username.vars.errors }}</p>
                        {% endif %}
                    </div>

                    <div class="field">
                        <label class="label">{{ 'user.form.email.label'|trans }}</label>
                        <div class="control has-icons-left has-icons-right">
                            {{ form_widget(form.email, {'attr': {'class': 'input', 'placeholder': 'user.form.email.placeholder'|trans}}) }}
                            <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                        </div>
                        {% if (form.email.vars.errors|length > 0) %}
                            <p class="help is-danger">{{ form.email.vars.errors }}</p>
                        {% endif %}
                    </div>

                    <div class="field">
                        <label class="label">{{ 'user.form.password.first.label'|trans }}</label>
                        <div class="control has-icons-left has-icons-right">
                            {{ form_widget(form.password.first, {'attr': {'class': 'input'}}) }}
                            <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                        </div>
                        {% if (form.password.vars.errors|length > 0) %}
                            <p class="help is-danger">{{ form.password.vars.errors }}</p>
                        {% endif %}
                    </div>

                    <div class="field">
                        <label class="label">{{ 'user.form.password.second.label'|trans }}</label>
                        <div class="control has-icons-left has-icons-right">
                            {{ form_widget(form.password.second, {'attr': {'class': 'input'}}) }}
                            <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                        </div>
                        {% if (form.password.vars.errors|length > 0) %}
                            <p class="help is-danger">{{ form.password.vars.errors }}</p>
                        {% endif %}
                    </div>

                    <div class="buttons is-centered">
                        <button class="button is-info">{{ 'registration.form.submit'|trans }}</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}