{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        #latestZap {
            background-image: url('{{ latestZap|default ? asset('images/zaps/' ~ latestZap.image) : 'https://place-hold.it/640x450' }}');
        }
        .progressionBar {
            width: {{ donationPercentage|default(30) }}%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="columns is-variable">
            <div class="column is-two-thirds">
                <div class="columns fakeHref" id="latestZap" data-href="{{ latestZap|default ? path('app_zap_show', {'zapId': latestZap.id}) }}">
                    <div class="column is-two-fifths">
                        <h1 class="title">
                            <a href="{{ latestZap|default ? path('app_zap_show', {'zapId': latestZap.id}) }}" title="{{ latestZap }}">
                                {{ latestZap.title|default('ZAP #000')|u.upper }}
                            </a>
                        </h1>
                        <h2 class="subtitle">{{ latestZap.subtitle|default('lipsum.short'|trans)|u.upper }}</h2>
                        <p class="shortDescription">{{ latestZap.shortDescription|default('lipsum.long'|trans)|u.truncate(400, '...') }}</p>
                        <p class="details"><span>{{ 'homepage.latest_zap.details'|trans({'%views%': latestZap.views|default(0)}) }}</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>{{ latestZap.publishedAt|default('now')|date('d.m.Y') }}</span></p>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-full has-text-centered" id="donation">
                        <p class="has-text-weight-bold is-italic">{{ 'homepage.donation.title'|trans|u.upper }}</p>
                        <p class="is-italic"><small>{{ 'homepage.donation.current_month'|trans|u.upper }}</small></p>
                        <div class="progression">
                            <span class="progressionBar"></span>
                            <span class="progressionText">{{ donationPercentage|default(30) }}%</span>
                            <span class="is-clearfix"></span>
                        </div>
                        <a class="has-text-weight-bold" href="#">{{ 'homepage.donation.donate'|trans|u.upper }}</a>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-half" id="newsletter">
                        <form action="">
                            <div class="field has-addons">
                                <p class="control newsletterTitle">
                                    <span>{{ 'homepage.newsletter.title'|trans|u.upper }}</span>
                                </p>

                                <p class="control is-expanded">
                                    <input class="input" type="text" placeholder="{{ 'homepage.newsletter.placeholder'|trans }}">
                                </p>
                            </div>
                        </form>
                    </div>

                    <div class="column is-half" id="share">
                        <h2 class="title">{{ 'homepage.share.title'|trans|u.upper }}</h2>
                        <a href="https://fr-fr.facebook.com/IZap4u/"><img src="{{ asset('images/facebook.svg') }}" alt="Facebook" class="social"></a>
                        <a href="https://twitter.com/iZap4u_com"><img src="{{ asset('images/twitter.svg') }}" alt="Facebook" class="social"></a>
                        <a href="https://www.instagram.com/__www.izap4u.com__/"><img src="{{ asset('images/instagram.svg') }}" alt="Facebook" class="social"></a>
                        <span class="is-clearfix"></span>
                    </div>
                </div>

                <div class="columns" id="versions">
                    <div class="column is-half has-text-centered" id="FullVersion">
                        <h2 class="title">{{ 'homepage.full_version.title'|trans|u.upper }}</h2>
                        <div>
                            <img src="{{ latestZap|default ? asset('images/zaps/' ~ latestZap.image) : 'https://place-hold.it/400x250' }}"
                                 data-href="{{ latestZap|default ? path('app_zap_show', {'zapId': latestZap.id}) }}"
                                 class="fakeHref"
                                 alt="{{ latestZap.title }}">
                            <div class="lds-ripple infiniteData"
                                 data-imagepath="{{ directory_zaps }}"
                                 data-url="{{ path('app_zap_infinite', {'zapIdFrom': latestZap.id, 'type': 'long'}) }}"><div></div><div></div></div>
                        </div>
                    </div>
                    <div class="column is-half has-text-centered" id="shortEdit">
                        <h2 class="title">{{ 'homepage.short_edit.title'|trans|u.upper }}</h2>
                        <div>
                            <img src="{{ latestShortVersion|default ? asset('images/zaps/' ~ latestShortVersion.path) : 'https://place-hold.it/400x250' }}" alt="">
                            <div class="lds-ripple infiniteData"
                                 data-imagepath="{{ directory_zaps }}"
                                 data-url="{{ path('app_zap_infinite', {'zapIdFrom': latestZap.id, 'type': 'short'}) }}"><div></div><div></div></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-one-third has-text-centered">
                <h2 class="title">{{ 'homepage.images.title'|trans|u.upper }}</h2>
                <div id="images">
                    {% if latestImages|default %}
                        {% for latestImage in latestImages %}
                            <img src="{{ asset('images/images/' ~ latestImage.image) }}"
                                 data-href="{{ latestZap|default ? path('app_zap_show', {'zapId': latestZap.id}) }}"
                                 class="fakeHref"
                                 alt="{{ latestImage.title }}">
                        {% endfor %}
                    {% else %}
                        <img src="https://place-hold.it/400x600" alt="Default image">
                    {% endif %}
                    <div class="lds-ripple infiniteData"
                         data-imagepath="{{ directory_images }}"
                         data-url="{{ path('app_image_infinite', {'imageIdFrom': (latestImages|last).id}) }}"><div></div><div></div></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}