<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>iZap4u – {% block title %}{{ 'head.title'|trans }}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
        <link rel="stylesheet" href="{{ asset('styles.min.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand logoContainer">
                <a href="javascript:void(0);" class="navbar-item">
                    <img src="{{ asset('images/logo.png') }}" alt="Logo iZap4u" height="45">
                </a>
            </div>

            <div id="nav-content" tabindex="0">
                <input type="text" class="input" name="search" placeholder="Rechercher">
                <ul>
                    <li><a href="{{ path('app_homepage_index') }}">{{ 'navbar.menu.homepage'|trans }}</a></li>
                    <li><a href="{{ path('app_zap_list') }}">{{ 'navbar.menu.zap'|trans }}</a></li>
                    <li><a href="{{ path('app_image_list') }}">{{ 'navbar.menu.images'|trans }}</a></li>
                    <li><a href="{{ path('app_default_leftovers') }}">{{ 'navbar.menu.leftovers'|trans }}</a></li>
                    <li><a href="{{ path('app_default_goodvibes') }}">{{ 'navbar.menu.goodvibes'|trans }}</a></li>
                    <li><a href="{{ path('app_default_homemade') }}">{{ 'navbar.menu.homemade'|trans }}</a></li>
                    <li><a href="{{ path('app_default_documentary') }}">{{ 'navbar.menu.documentaries'|trans }}</a></li>
                    <li><a href="{{ path('app_import_upload') }}">{{ 'navbar.menu.submit'|trans }}</a></li>
                    <li><a href="{{ path('app_default_donate') }}">{{ 'navbar.menu.donate'|trans }}</a></li>
                    <li><a href="{{ path('profile') }}">{{ 'navbar.menu.account'|trans }}</a></li>
                </ul>
            </div>
            <div id="nav-overlay"></div>

            <div class="navbar-menu is-block bannerContainer">
                <a href="{{ path('app_homepage_index') }}" class="navbar-item has-text-centered is-block">
                    <img src="{{ asset('images/banner.png') }}" alt="Logo iZap4u">
                </a>
            </div>

            <div class="navbar-end customerLinks">
                {% if not app.user %}
                    <a href="{{ path('app_login') }}" class="navbar-item login">{{ 'navbar.account.signin'|trans }}</a>
                    <a href="{{ path('registration') }}" class="navbar-item signup">{{ 'navbar.account.signup'|trans }}</a>
                {% else %}
                    <a href="{{ path('profile') }}" class="navbar-item">{{ app.user.username }}</a>
                    <a href="{{ path('app_logout') }}" class="navbar-item">{{ 'navbar.account.logout'|trans }}</a>
                {% endif %}

                <div class="navbar-item countryFlags">
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'fr'})) }}" class="flag-icon flag-icon-fr"></a>
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'en'})) }}" class="flag-icon flag-icon-gb"></a>
                </div>
            </div>
        </nav>

        <section class="section">
            {% block body %}{% endblock %}
        </section>

        <script src="{{ asset('scripts.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
